%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th Title
      %th Description
      %th Cover Photo
      %th Status
      %th Uploader
      %th
      %th
  %tbody
    =render @books
=link_to 'Add new', new_book_path