.col-sm-3.col-md-2.sidebar.well
  %ul.nav.nav-sidebar
    %li.active
      %a{:href => "#"}
        Overview
        %span.sr-only (current)
    %li
      =link_to 'All Books', books_path
    %li
      =link_to 'Published Books', published_index_books_path
    %li
      =link_to 'Subscribed Books', subscribed_index_books_path
    %li
      =link_to 'Uploaded Books', uploaded_index_books_path