%legend= "#{@book.title} Reviews"
%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th Title
      %th Description
      %th Previous Status
      %th Current Status
      %th
  %tbody
    =render @reviews